{% extends "base.html" %}

{% block titulo %}
Resumen
{% endblock %}


{% block contenido %}


<div class="card shadow resumen-card">

<div class="card-body">

<div class="d-flex justify-content-between align-items-center mb-4">

    <h1 class="titulo-dashboard mb-0">

        Resumen Descuento Ponderado

    </h1>

    <a href="{{ url_for('inicio') }}"
       class="btn btn-outline-secondary">

        ← Inicio

    </a>

</div>

<div class="d-flex align-items-center mt-4 mb-3">

    <h3 class="titulo-dashboard mb-0">

        Históricos Descuento Ponderado

    </h3>


</div>


<div class="table-responsive tabla-resumen-container">


<table class="table table-bordered table-striped tabla-resumen">


<thead>

<tr>

<th class="resumen-fecha">
Mes
</th>

<th class="resumen-condumex">
Condumex<br>
Desc. Pond. Compra
</th>

<th class="resumen-condumex">
Condumex Desc. Pond. Venta
</th>

<th class="resumen-condumex">
Cal. 12 Venta
</th>

<th class="resumen-condumex">
Toneladas
</th>

<th class="resumen-condulac">
Condulac <br> 
Desc. Pond. Compra
</th>

<th class="resumen-condulac">
Cal. 12 Compra   
</th>

<th class="resumen-condulac">
Condulac Desc. Pond. Venta 
</th>

<th class="resumen-condulac">
Cal. 12 Venta
</th>

<th class="resumen-condulac">
Toneladas
</th>

<th class="resumen-kobrex">
Kobrex <br>
Desc. Pond. Compra
</th>

<th class="resumen-kobrex">
Cal. 12 Compra
</th>

<th class="resumen-kobrex">
Kobrex Desc. Pond. Venta
</th>

<th class="resumen-kobrex">
Cal. 12 Venta
</th>

<th class="resumen-kobrex">
Toneladas
</th>

<th class="resumen-desnudo">
Desnudo
</th>

<th class="resumen-desnudo">
Cal. 12 Venta
</th>

<th class="resumen-serie8000">
Serie 8000 <br>
Desc. Pond. Compra
</th>

<th class="resumen-serie8000">
Serie 8000 Desc. Pond. Venta
</th>

<th class="resumen-serie8000">
Toneladas
</th>

</tr>

</thead>


<tbody>

{% for fila in meses_resumen %}

<tr>

    <td>

        {{ fila.fecha }}

    </td>

    <td>
        {{ "{:.2%}".format(fila.condumex_costo) }}
    </td>

    <td>
        {{ "{:.2%}".format(fila.condumex) }}
    </td>

    <td>

        ${{ "{:,.2f}".format(fila.cal12_condumex) }}

    </td>

    <td>

        {{ "{:,.3f}".format(fila.ton_condumex) }}

    </td>

    <td>
        {{ "{:.2%}".format(fila.condulac_costo) }}
    </td>

     <td>
        {{ "{:.2f}".format(fila.cal12_condulac_costo) }}
    </td>

    <td>
        {{ "{:.2%}".format(fila.condulac) }}
    </td>

    <td>
        ${{ "{:,.2f}".format(fila.cal12_condulac) }}
    </td>

    <td>
        {{ "{:,.3f}".format(fila.ton_condulac) }}
    </td>

    <td>
        {{ "{:.2%}".format(fila.kobrex_costo) }}
    </td>

    <td>
        {{ "{:.2f}".format(fila.cal12_kobrex_costo) }}
    </td>

    <td>

        {{ "{:.2%}".format(fila.kobrex) }}

    </td>

    <td>

        ${{ "{:,.2f}".format(fila.cal12_kobrex) }}

    </td>

    <td>

        {{ "{:,.3f}".format(fila.ton_kobrex) }}

    </td>

    <td>

        ${{ "{:,.2f}".format(fila.desnudo) }}

    </td>

    <td>

        ${{ "{:,.2f}".format(fila.cal12_desnudo) }}

    </td>

    <td>
        
        {{ "{:.2%}".format(fila.serie8000_costo) }}
    
    </td>

    <td>

        {{ "{:.2%}".format(fila.serie8000) }}

    </td>

    <td>

        {{ "{:,.3f}".format(fila.ton_serie8000) }}

    </td>

</tr>

{% endfor %}

</tbody>

</table>


</div>

<h3 class="titulo-dashboard mt-5 mb-3">

Ponderado Actual

</h3>

<div class="table-responsive tabla-resumen-container">


<table class="table table-bordered table-striped tabla-resumen">


<thead>

<tr>

    <th class="resumen-fecha">
    Fecha
    </th>

    <th class="resumen-condumex">
    Condumex<br>
    Desc. Pond. Compra
    </th>

    <th class="resumen-condumex">
        Condumex Desc.Pond. Venta
    </th>

    <th class="resumen-condumex">
        Cal. 12 Venta
    </th>

    <th class="resumen-condumex">
        Toneladas
    </th>

    <th class="resumen-condulac">
        Condulac Desc. Pond. Compra
    </th>

    <th  class="resumen-condulac">
        Cal. 12 Compra     
    </th>

    <th class="resumen-condulac">
        Condulac Desc. Pond. Venta
    </th>

    <th class="resumen-condulac">
        Cal. 12 Venta
    </th>

    <th class="resumen-condulac">
        Toneladas
    </th>

    <th class="resumen-kobrex">
        Kobrex Desc. Pond. Compra
    </th>

    <th class="resumen-kobrex">
        Cal. 12 Compra   
    </th>

    <th class="resumen-kobrex">
        Kobrex Desc. Pond. Venta
    </th>

    <th class="resumen-kobrex">
        Cal. 12 Venta
    </th>

    <th class="resumen-kobrex">
        Toneladas
    </th>

    <th class="resumen-desnudo">
        Desnudo
    </th>

    <th class="resumen-desnudo">
        Cal. 12 Venta
    </th>
    
    <th class="resumen-serie8000">
        Serie 8000 Desc. Pond. Compra
    </th>

    <th class="resumen-serie8000">
        Serie 8000 Desc. Pond. Venta
    </th>

    <th class="resumen-serie8000">
        Toneladas
    </th>
    

</tr>

</thead>


<tbody>

{% for fila in datos %}

<tr>

<td>
{{ fila.fecha }}
</td>

<td>
{{ "{:.2%}".format(fila.condumex_costo) }}
</td>

<td>
{{ "{:.2%}".format(fila.condumex) }}
</td>

<td>
${{ "{:,.2f}".format(fila.cal12_condumex) }}
</td>

<td>
{{ "{:,.3f}".format(fila.ton_condumex) }}
</td>

<td>
{{ "{:.2%}".format(fila.condulac_costo) }}
</td>

<td>
    {{ "{:.2f}".format(fila.cal12_condulac_costo) }}
</td>

<td>
{{ "{:.2%}".format(fila.condulac) }}
</td>

<td>
${{ "{:,.2f}".format(fila.cal12_condulac) }}
</td>

<td>
{{ "{:,.3f}".format(fila.ton_condulac) }}
</td>

<td>
{{ "{:.2%}".format(fila.kobrex_costo) }}
</td>

<td>
    {{ "{:.2f}".format(fila.cal12_kobrex_costo) }}
</td>


<td>
{{ "{:.2%}".format(fila.kobrex) }}
</td>

<td>
${{ "{:,.2f}".format(fila.cal12_kobrex) }}
</td>

<td>
{{ "{:,.3f}".format(fila.ton_kobrex) }}
</td>

<td>
${{ "{:,.2f}".format(fila.desnudo) }}
</td>

<td>
${{ "{:,.2f}".format(fila.cal12_desnudo) }}
</td>

<td>
    {{ "{:.2%}".format(fila.serie8000_costo) }}
</td>

<td>
{{ "{:.2%}".format(fila.serie8000) }}
</td>

<td>
{{ "{:,.3f}".format(fila.ton_serie8000) }}
</td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

</div>

</div>


{% endblock %}