{% extends "base.html" %}

{% block titulo %}
Resumen
{% endblock %}


{% block contenido %}


<div class="card shadow">

<div class="card-body">


<h1 class="titulo-dashboard text-center mb-4">

Descuento Ponderado de Venta

</h1>

<h3 class="titulo-dashboard mt-4 mb-3">

Ponderado General Mes anterior

</h3>

<div class="table-responsive">


<table class="table table-bordered table-striped tabla-resumen">


<thead>

<tr>

<th class="resumen-fecha">
Mes
</th>

<th class="resumen-condumex">
Condumex
</th>

<th class="resumen-condumex">
Cal. 12
</th>

<th class="resumen-condulac">
Condulac
</th>

<th class="resumen-condulac">
Cal. 12
</th>

<th class="resumen-kobrex">
Kobrex
</th>

<th class="resumen-kobrex">
Cal. 12
</th>

<th class="resumen-desnudo">
Desnudo
</th>

<th class="resumen-desnudo">
Cal. 12
</th>

<th class="resumen-serie8000">
Serie 8000
</th>

</tr>

</thead>


<tbody>

<tr>

<td>
{{ mes_anterior.fecha }}
</td>

<td>
{{ "{:.2%}".format(mes_anterior.condumex) }}
</td>

<td>
${{ "{:,.2f}".format(mes_anterior.cal12_condumex) }}
</td>

<td>
{{ "{:.2%}".format(mes_anterior.condulac) }}
</td>

<td>
${{ "{:,.2f}".format(mes_anterior.cal12_condulac) }}
</td>

<td>
{{ "{:.2%}".format(mes_anterior.kobrex) }}
</td>

<td>
${{ "{:,.2f}".format(mes_anterior.cal12_kobrex) }}
</td>

<td>
${{ "{:,.2f}".format(mes_anterior.desnudo) }}
</td>

<td>
${{ "{:,.2f}".format(mes_anterior.cal12_desnudo) }}
</td>

<td>
{{ "{:.2%}".format(mes_anterior.serie8000) }}
</td>

</tr>

</tbody>


</table>


</div>

<h3 class="titulo-dashboard mt-5 mb-3">

Ponderado Actual

</h3>

<div class="table-responsive">


<table class="table table-bordered table-striped tabla-resumen">


<thead>

<tr>

    <th class="resumen-fecha">
    Fecha
    </th>

    <th class="resumen-condumex">
        Condumex
    </th>

    <th class="resumen-condumex">
        Cal. 12
    </th>

    <th class="resumen-condulac">
        Condulac
    </th>

    <th class="resumen-condulac">
        Cal. 12
    </th>

    <th class="resumen-kobrex">
        Kobrex
    </th>

    <th class="resumen-kobrex">
        Cal. 12
    </th>

    <th class="resumen-desnudo">
        Desnudo
    </th>

    <th class="resumen-desnudo">
        Cal. 12
    </th>

    <th class="resumen-serie8000">
        Serie 8000
    </th>

</tr>

</thead>


<tbody>

{% for fila in datos %}

<tr>

<td>
{{ fila.fecha }}
</td>


<td>
{{ "{:.2%}".format(fila.condumex) }}
</td>


<td>
${{ "{:,.2f}".format(fila.cal12_condumex) }}
</td>


<td>
{{ "{:.2%}".format(fila.condulac) }}
</td>


<td>
${{ "{:,.2f}".format(fila.cal12_condulac) }}
</td>


<td>
{{ "{:.2%}".format(fila.kobrex) }}
</td>


<td>
${{ "{:,.2f}".format(fila.cal12_kobrex) }}
</td>


<td>
${{ "{:,.2f}".format(fila.desnudo) }}
</td>


<td>
${{ "{:,.2f}".format(fila.cal12_desnudo) }}
</td>


<td>
{{ "{:.2%}".format(fila.serie8000) }}
</td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

</div>

</div>


{% endblock %}