.titulo-dashboard {

    color: #002B5B;

    font-weight: 800;

}


.btn-cable {

    background-color: #002B5B;

    border-color: #002B5B;

    color: white;

}


.btn-cable:hover {

    background-color: #001F42;

    border-color: #001F42;

    color: white;

}


.btn-resumen {

    background-color: #90C2E7;

    border-color: #90C2E7;

    color: black;

}


.btn-resumen:hover {

    background-color: #90C2E7;

    border-color: #90C2E7;

    color: black;

}

/* ==========================
   KPI DESCUENTO PONDERADO
========================== */

.kpi-card{

    background-color:#0B3A6E;

    color:white;

    border:none;

    border-radius:12px;

}

.kpi-card .titulo{

    font-size:0.80rem;

    opacity:.85;

    margin-bottom:2px;

}

.kpi-card .subtitulo{

    font-size:1rem;

    font-weight:600;

    margin-bottom:6px;

}

.kpi-card .valor{

    font-size:1.6rem;

    font-weight:700;

    line-height:1.1;

    margin-bottom:0;

}

.btn-excel{

    background-color:#198754;

    border-color:#198754;

    color:white;

    font-weight:600;

    white-space: nowrap;

}

.btn-excel:hover{

    background-color:#157347;

    border-color:#146c43;

    color:white;

}

.titulo-cable{

    font-style: italic;

    text-transform: uppercase;

}

/* ==========================
   TABLA THW
========================== */

.tabla-thw th{

    text-align: center;

    vertical-align: middle;

}

.tabla-thw td{

    text-align: center;

    vertical-align: middle;

}

/* ==========================
   COLORES POR MARCA
========================== */

.tabla-condumex {

    background-color:#F77F00 !important;

    color:white !important;

}


.tabla-condulac {

    background-color:#198754 !important;

    color:white !important;

}


.tabla-kobrex {

    background-color:#E71D36 !important;

    color:white !important;

}

/* COLORES DINÁMICOS POR MARCA */

.tabla-condumex th,
.tabla-condumex td {

    background-color: #F77F00 !important;
    color: white !important;

}


.tabla-condulac th,
.tabla-condulac td {

    background-color: #198754 !important;
    color: white !important;

}


.tabla-kobrex th,
.tabla-kobrex td {

    background-color: #E71D36 !important;
    color: white !important;

}